body {
  margin: 0;
  background-color: #a5a58d;
}

header {
  background-color: #6b705c;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
}

#title {
  text-align: center;
}

#color-palette {
  text-align: center;
}

.color {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
  margin: 0 20px;
}

#pixel-board {
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: table-row;
}

.pixel {
  display: table-cell;
  height: 41px;
  width: 41px;
  border: 1px solid black;
  background-color: white;
}

#buttons {
  text-align: center;
  margin: 20px;
}

#clear-board {
  margin-left: 40px;
}

#generate-board {
  margin-right: 50px;
}

#board-size {
  width: 32px;
  text-align: right;
}
